body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.App {
  /* font-family: 'Open Sans', serif; */
  height: 100vh;
  position: relative;
}

.main-header-div {
  width: 100%;
  height: auto;
  position: relative;
}

.main-header-div .background-div {
  width: 100%;
  height: 250px;
  background-color: black;
  /* background: url('./images/bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.main-header-div .date-month-div {
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-size: 24px;
}

.main-header-div .date-month-div span {
  margin: 2px;
  padding: 2px;
}

/* todo-box */
.todo-box {
  height: 290px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 5px 5px 4px #e4e4e4;
}

.main-todos-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.main-todos-div .todo-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.main-todos-div .todo-div .checkbox-round {
  width: 1.3em;
  height: 1.3em;
  margin: 10px;
}

.main-todos-div .todo-div span {
  margin: 5px;
}

.main-todos-div .btn-div button {
  border: hidden;
  background-color: transparent;
  outline: none;
  color: red;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

/* form */
.todo-form {
  width: 100%;
  position: absolute;
  bottom: 5px;
}

.todo-form .form {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 2px solid #e4e4e4;
}

.todo-form .form .form-input {
  width: 85%;
  height: 45px;
  text-indent: 2px;
  padding: 5px;
  font-size: 18px;
  font-weight: 600px;
  margin: 2px;
  border: hidden;
}

.todo-form .form .form-input::placeholder {
  color: green;
  font-size: 18px;
  font-weight: 600px;
}

.todo-form .form .form-input:focus {
  outline: none;
  border: 2px solid green;
  box-shadow: 0 0 5px green;
}

.todo-form .form .form-btn {
  margin: 2px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 600;
  background: green;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: hidden;
  cursor: pointer;
  outline: none;
  text-align: center;
}